.dropdownContainer {
  position: relative;
}

.userIcon {
    display: flex;
    width: 70px;
    background-color: #1D1F25;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    border-radius: 113px;
    overflow: hidden;
    margin-left: 15px;
    
      > svg {
        margin-right: 15px;
      }
  }

    .button {
    border: none;
    background-color: inherit;
    height: 100%;
    
    &:hover {
        cursor: pointer;
    }
  }

  .modalWrapper {
    position: absolute;
    z-index: 2;
    top: 50px;
  }
