.dropdownContainer {
  position: relative;
  font-family: 'Montserrat';
}

.userIcon {
    display: flex;
    width: 70px;
    background-color: #1D1F25;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    border-radius: 113px;
    overflow: hidden;
    margin-left: 15px;

      > svg {
        margin-right: 10px !important;
      }

      @media(max-width: 768px){
        height: 30px;

        &:nth-child(1) {
          border-radius: 4px;
        }

         svg {
          margin-right: 1px;
          height: 14px !important;
        }
      }
  }

    .button {
    border: none;
    background-color: inherit;
    height: 100%;

    &:hover {
        cursor: pointer;
    }
  }

  .modalWrapper {
    position: absolute;
    z-index: 2;
    }
