.rootInput {
    background-color: inherit;
    border-radius: 12px;
    border: 1px solid #5E6670;
    width: 300px;
    padding: 10px;
    color: white;
    text-indent: 40px;
    font-size: 18px;

    &::placeholder {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
      }
}

.invalidRootInput {
  background-color: inherit;
  border-radius: 12px;
  border: 1px solid #E2574B;
  width: 300px;
  padding: 10px;
  color: white;
  text-indent: 40px;
  font-size: 18px;

  &::placeholder {
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 14px;
    }
}
.validRootInput {
  background-color: inherit;
  border-radius: 12px;
  border: 1px solid #4ED254;
  width: 300px;
  padding: 10px;
  color: white;
  text-indent: 40px;
  font-size: 18px;

  &::placeholder {
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 14px;
    }
}

.inputContainer {
    margin-left: auto;
    margin-right: 20px;
    position: relative;

    &BlockText {
        display: flex;
        align-items: center;
        justify-content: space-between;


        >p {
          color:#fff;
          font-weight: 700;
         font-size: 12px;
         font-family: 'Montserrat';
         margin-top: 20px;
         }

         >span {
          margin-top: 20px;
          font-weight: 400;
          font-size: 10px;
          color: #E2574B;
         }
      }
    }

.inputIcon {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    left: 20px;
}

.inputIconRight {
  position: absolute;
  top:  57%;
  transform: translateY(-50%);
  right: -10px;
}

.additionalButton {
  position: absolute;
  top:  60%;
  transform: translateY(-50%);
  right: 0px;
}