.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #181a20;
  overflow: hidden;

  @media(max-width: 768px) {
    padding-top: 50px;
  }

  >div {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media (max-width: 1000px) {
      flex-direction: column;
      padding-top: 30px;
    }
  }

  &Text {


    p {
      width: 406px;
      color: #5e6670;
      font-size: 13px;

      @media(max-width: 768px) {
        width: 360px;
      }
    }

    h1 {
      color: white;
      padding-bottom: 20px;
      font-style: normal;
      font-weight: 800;
      font-size: 35px;
    }
  }

  &Blur {
    width: 200px;
    height: 200px;
    background-color: #fcd535;
    border-radius: 50%;
    filter: blur(200px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;

    &Wrapper {
      position: relative;
    }
  }

  &Buttons {
    display: flex;
    padding-top: 35px;
    align-items: center;
  }

  &Ad {
    display: flex;
    width: 210px;
    height: 58px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0 15px 15px 0;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;

    p {
      color: white;
      font-size: 13px;
      max-width: 150px;
    }
  }
}

.button {
  height: 66px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 12px;
}

