.container {
    background-color: #181A20;
    max-width: 370px;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    max-height: calc(100vh - 64px);
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
      }
}