.tabs {
    display: flex;
    padding-left: 45px;
    gap: 40px;

    &Individual {
        width: 338px;
        height: 251px;

        @media(max-width: 768px) {
           width: inherit;
           margin-top: 8px;
           height: fit-content;
        }
    }

    @media(max-width: 768px) {
        flex-direction: column;
        padding-left: 0;
        gap: 12px;
    }
}

.tabsButton {
    height: 45px;
    width: 342px;
    color: #1E2026;
    margin-top: 95px;

    @media(max-width: 768px) {
       width: 100%;
       margin-top: 22px;
    }

    &Negative {
    margin-top: 45px;
    height: 45px;
    width: 342px;
    color: #1E2026;
    background-color: #D7525F;

    @media(max-width: 768px) {
        width: 100%;
        margin-top: 20px;
     }
    
    > span {
        margin-left: auto;
        margin-right: auto;
        }
    }

    > span {
        margin-left: auto;
        margin-right: auto;
    }
}