.root {
  width: 290px;
  height: 104px;
  display: flex;
  background-color:  #1d2027;
  overflow: hidden;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;

  @media(max-width: 768px) {
    width: 175px;
    height: 90px;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
}

  >div {
    margin-left: 24px;
    display: flex;
    flex-direction: column;

    @media(max-width: 768px) {
      margin-left: 0;
      padding: 5px;
    }
  }

  >img {
    margin-right: 24px;
  }
}

.cardLabel {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 13px;
  color: #969693;
  padding-bottom: 10px;

  @media(max-width: 768px) {
    font-size: 11px;
  }
}

.cardPrice {
  font-family: 'Montserrat';
  color: #fff;
  font-weight: 700;

  @media(max-width: 768px) {
    font-size: 13px;
  }
}