.root {
  justify-content: center;
  padding: 35px;

  @media(max-width: 768px) {
    width: 100%;
    font-size: 10px;
  }

  @media(max-width: 768px) {
    padding: 0;
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.inputContainer {
  margin-bottom: 25px;

  &Block {

    input {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      background-color: #181A20;
      padding: 10px;
      margin-top: 10px;
    }

    >p {
      color:#fff;
      font-weight: 700;
     font-size: 12px;
     font-family: 'Montserrat';
     margin-top: 20px;

     @media(max-width: 768px) {
      font-size: 10px;
    }
     }
  }
}



.checkboxText {
  color:#FCD535;
  text-decoration: none;
  font-weight: 700;
}

.createAccountButton {
  width: 350px;
  padding: 14px 118px;
  border-radius: 12px;
  margin-top: 24px;
  margin-bottom: 12px;

  @media(max-width: 768px) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
  }
}

.authorizationContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 20px;

  @media(max-width: 768px) {
  }
}

@media(max-width: 768px) {

  .authorizationContainer > div > a > svg {
    height: 35px;
  }
}

.containerSignUpText {
  font-family: 'Montserrat';
  color:#8a8a8d;
  font-size: 12px;

  @media(max-width: 768px) {
    font-size: 10px;
  }
}

.containerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 56;
  height: 21px;
  padding: 4px 12px;
  border-radius: 50px;
  font-size: 12px;
  background-color: #1c1e24;

  @media(max-width: 768px) {
    width: 40px;
    padding: 2px 5px;
    height: 18px;

    > a {
    font-size: 9px !important;
    }
  }

  &Text{
    margin-right: 5px;
    font-weight: 600;
    color:#5E6670;
    font-size: 12px;
    text-decoration: none;

    @media(max-width: 768px) {
      font-size: 10px;
    }
  }
}

.bottomText {
  width: 100%;
  text-decoration: none;
  color:#8a8a8d;
  font-weight: 400;
  font-size: 12px;

  @media(max-width: 768px) {
    font-size: 10px;
  }

    >span {
      color:#FCD535;
    }
}

.blur {
  width: 100%;
  height: 50px;
  background-color: #fcd535;
  border-radius: 50%;
  filter: blur(90px);
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;

    &Wrapper {
      position: relative;
    }
  }

