.container {
    padding: 25px 15px;
}

.mainHeader {
    font-weight: 700;
    font-size: 18px;
    margin-top: 17px;
    margin-bottom: 33px;

    @media(max-width: 768px) {
        margin-bottom: 11px;
         margin-top: 40px;
    }
}

.subText {
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFFB2;

    > p {
        width: 50%;

        @media(max-width: 768px) {
            width: 100%;
        }
    }
}

.rankText {
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFFB2;

    .button {
        border-radius: 100px;
        margin-top: 24px;
    }

    > p {
        width: 67%;

        @media(max-width: 768px) {
            width: 100%;
        }
    }
}