.container {
  background-color: #15161C;
  border-radius: 20px;
  padding-top: 34px;

  >* {
    max-width: 1280px;
    margin: auto;

    @media (max-width: 1300px) {
      padding: 0 20px;
    }
  }
}

.currencyCardsWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 1262px) {
      justify-content: space-around;

      div {
        margin-bottom: 20px;
      }
    }
}