.container {
  background-color: #15161C;
  border-radius: 20px;
  padding-top: 34px;
  max-width: 1280px;

  margin-left: auto;
  margin-right: auto;

    @media (max-width: 1300px) {
      max-width: 1240px;
      padding: 0 20px;
    }


  .backButton {
    color: #FFFFFF4D;
    font-size: 12px;
    border: none;
    background-color: inherit;
    font-family: inherit;

    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }

  .mainLabel {
    color: white;
    font-size: 22px;
    font-weight: 700;
    padding-top: 23px;
  }
}



.text {
  margin-top: 40px;

  >p {
    color:#d1d1d2;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
  }
}

.bonusContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 230px;

  &Card {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 414px;
    border-radius: 20px;
    background-color: #1f2127;
    position: relative;
    padding: 0 32px 0 32px;

    &Image {
      position: absolute;
      bottom:250px;
    }

    &Text {
      color: #d2d3d4;
      text-align: center;
      font-weight: 400;
      font-size: 11px;
      line-height: 150%;
    }

    &Button {

      margin-top: 64px;
      color:#fff;
      background-color: #35373c;
      align-items: center;
      justify-content: center;
      width: 204px;
      height: 30px;
      border-radius: 100px;

    }

    >p {
      font-weight: 600;
      margin-top: 120px;
      font-weight: 600;
      font-size: 45px;
      margin-bottom: 20px;

    }

    >span {
      font-weight: 600;
      margin-bottom: 60px;
    }
  }
}





.bottomContainer {
  overflow: hidden;
  display: flex;
  height: 200px;
  width: 100%;
  border-radius: 20px;
  background-color: #1f2127;
  margin-top: 38px;

  &Image {
    margin-top: 20px;
    height: 206px;
    width: 206px;
    margin-left: 30px;
  }

  &Text {

    width: 70%;
    margin:36px 50px 36px 70px;

    &One {
      font-size: 15px;
      line-height: 22px;
    }

    &Two {
      margin-top: 20px;
      text-align: left;
      font-size: 15px;
      line-height: 22px;
    }
  }

  >span {
    margin-top: 40px;
    text-align: left;
    font-size: 13px;
  }


}

.bottomContainerLink {
  color:#FCD535;

}



.blurContainer {
  position: relative;
}

