.hero {
    display: flex;
    align-items: center;
    gap: 230px;

    @media(max-width: 768px) {
        flex-direction: column;
        gap: 50px;
    }

    &Text {

        @media(max-width: 768px) {
            width: 100%;
        }

        > span {
            font-weight: 700;
            font-size: 25px;
        }

        > p {
            font-weight: 400;
            font-size: 15px;
            margin-top: 16px;
            margin-bottom: -16px;
        }
    }

    &Image {
        position: relative;
        z-index: -1;
    }
}