.container {
    padding: 25px 15px;

    .mainHeader {
    font-weight: 700;
    font-size: 18px;
    margin-top: 17px;
    margin-bottom: 33px;

    @media(max-width: 768px) {
        margin-bottom: 11px;
         margin-top: 40px;
    }
}
}

