.navButton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 21px;
    padding: 4px 12px;
    border-radius: 50px;
    font-size: 12px;
    background-color: #1c1e24;

    &Text{
      margin-right: 5px;
      font-weight: 400;
      color:#fff;
      text-decoration: none;
    }
  }