.tab {
    width: 338px;

    @media(max-width: 768px) {
        width: 100%;
        box-sizing: border-box;
    }

    &Settings {
        margin-right: 200px;

        @media(max-width: 768px) {
            width: 100%;
        }

        > div {
            padding-bottom: 10px;
            font-weight: 700;
            font-size: 10px;

            &:last-child {
                padding-bottom: 35px;
            }
        }
    }
}

.button {
    background-color: #FFFFFF26;
    color: #FFF;
    width: 398px;
    height: 45px;
    margin-top: 21px;

    @media(max-width: 768px) {
        width: 100%;
        box-sizing: border-box;
    }

    > span {
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
    }
}

.root {
    font-weight: 700;
    font-size: 15px;

    @media(max-width: 768px) {
       margin-top: -100px;
    }
}