.profileContainer {
    width: 398px;
    height: 302px;
    background-color: #D9D9D905;
    border-radius: 10px;
    border: 1px solid #FFFFFF33;
    margin-top: 20px;

    .profileImageContainer {
        height: 141px;
        width: 141px;
        background-color: #FFFFFF1A;
        border-radius: 100%;
    }
}