.bottomContainer {
  overflow: hidden;
  display: flex;
  height: 200px;
  width: 100%;
  border-radius: 20px;
  background-color: #1f2127;
  margin-top: 38px;

  &Image {
    margin-top: 20px;
    height: 206px;
    width: 206px;
    margin-left: 30px;
  }

  &Text {

    width: 70%;
    margin:36px 50px 36px 70px;

    &One {
      font-size: 15px;
      line-height: 22px;
    }

    &Two {
      margin-top: 20px;
      text-align: left;
      font-size: 15px;
      line-height: 22px;
    }
  }

  >span {
    margin-top: 40px;
    text-align: left;
    font-size: 13px;
  }


}

.bottomContainerLink {
  color:#FCD535;

}