.root {
  width: 100%;
  display: flex;
  position: relative;

  >p {
    color:#fff;
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 19px;
    margin-left: 40px;
  }
}



.checkbox {
 display: none;


}

.checkmark {

  position: absolute;
  width:20px;
  height: 20px;
  background-color: #181A20;
  border-radius: 5px;
  margin-right: 16px;

  &Confirm {


    &::after {
      content: '';
      position: absolute;
      top:4px;
      left:4px;
      background-color: #FCD535;
      width:12px;
      height: 12px;
      border-radius: 15px;
    }
  }
}