.container {
  background-color: #15161C;
  border-radius: 20px;
  padding-top: 34px;
  max-width: 1280px;

  margin-left: auto;
  margin-right: auto;

    @media (max-width: 1300px) {
      max-width: 1240px;
      padding: 0 20px;
    }

  .backButton {
    color: #FFFFFF4D;
    font-size: 12px;
    border: none;
    background-color: inherit;
    font-family: inherit;

    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }

  .mainLabel {
    color: white;
    font-size: 22px;
    font-weight: 700;
    padding-top: 23px;
  }
}


.table {

  >div{

    >div {

      >div:nth-child(3){
        // padding-left: 20px;
        >div {
          padding-left: 20px;
        }

      }
    }
  }
}

.tableContainer {
  margin-top: 41px;
  background: rgba(217, 217, 217, 0.03);
  border-radius: 10px;
  padding: 25px 64px 33px 67px;


  @media (max-width: 768px) {
    padding: 31px 0 !important;
  }


  &Header {
    display: flex;
    justify-content: flex-start;

    @media (max-width: 768px) {
      padding-left: 30px;
    }

    &Date {

      &Button {
        margin-left: 0 !important;
        margin-right: 10px;
        background: rgba(255, 255, 255, 0.05);
        color: #fff;
        padding: 6px 16px 6px 16px;
        box-sizing: border-box;
        width: 86px;
        height: 31px;
        font-weight: bold;
        border-radius: 5px;

        div {
          display: flex;
          align-items: center;

          svg {
            margin-right: 10px;
          }
        }

        >svg {
          margin: 0;
        }
      }
    }

    &Button {
      background: rgba(255, 255, 255, 0.05);
      color: #fff;
      padding: 6px 16px 6px 16px;
      box-sizing: border-box;
      width: 67px;
      height: 31px;
      font-weight: bold;
      border-radius: 5px;

      >svg {
        margin: 0;
      }
    }

    &Dropdown {
      width: auto;
      height: auto;
      padding: 20px;
      top: 40px;
      left: 0;
      background-color: #181A20;
      z-index: 1;
      border-radius: 12px;

      ul {
        padding: 0;
        list-style-type: none;

        li {
          margin: 12px 0;
          cursor: pointer;
          font-size: 13px
        }
      }
    }
  }
}

.tableContainer {
  margin-top: 41px;
  background: rgba(217, 217, 217, 0.03);
  border-radius: 10px;
  padding: 25px 64px 33px 67px;


  &Header {
    display: flex;
    justify-content: flex-start;

    &Count {

      &Button {
        margin-left: 0 !important;
        margin-right: 10px;
        background: rgba(255, 255, 255, 0.05);
        color: #fff;
        padding: 6px 16px 6px 16px;
        box-sizing: border-box;
        width: 86px;
        height: 31px;
        border-radius: 5px;


        >svg {
          margin: 0;
        }
      }
    }

    &Button {
      background: rgba(255, 255, 255, 0.05);
      color: #fff;
      padding: 6px 16px 6px 16px;
      box-sizing: border-box;
      width: 67px;
      height: 31px;
      border-radius: 5px;

      >svg {
        margin: 0;
      }
    }

    &Dropdown {
      width: auto;
      height: auto;
      padding: 20px;
      top: 40px;
      left: 0;
      background-color: #181A20;
      z-index: 1;
      border-radius: 12px;

      ul {
        padding: 0;
        list-style-type: none;

        li {
          margin: 12px 0;
          cursor: pointer;
          font-size: 13px
        }
      }
    }
  }
}





