.container {
    background-color: #15161C;
    border-radius: 20px;
    padding-top: 34px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  
      @media (max-width: 1300px) {
        max-width: 1240px;
        padding: 0 20px;
      }

    .mainLabel {
      color: white;
      font-size: 22px;
      font-weight: 700;
      padding-top: 23px;
    }
  }

  .userContainer {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
  }
  
  .root {
    display: flex;
  }