.container {
    width: 840px;
    padding-right: 20px;
    padding-left: 20px;
    height: 239px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF80;
    margin-bottom: 143px;

    @media(max-width: 768px) {
        box-sizing: border-box;
    }
}

.label {
    font-weight: 700;
    font-size: 15px;
}