.vaultWindow {
    height: auto;
    width: 460px;
    background-color: #1F2127;
    border-radius: 15px ;
    padding: 66px 81px;
    padding-top: 50px;
    top: 10%;
    bottom: 10%;

    @media(max-width: 768px) {
        padding: 80px 20px;
        background-color: inherit;
        width: 100%;
      }

    .vaultContainer {

        > span {
            font-weight: 700;
            font-size: 22px;
        }

        .button {
            width: 157px;
            height: 31px;
            border-radius: 83px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 7px;

            @media(max-width: 768px) {
                width: 175px;
              }

            > svg {
                transform: rotate(180deg);
            }

            &Passive {
                width: 157px;
                height: 31px;
                border-radius: 83px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #969699;
                background-color: #2C2D32;
                gap: 7px;

                @media(max-width: 768px) {
                    width: 175px;
                  }
            }

            &Container {
                display: flex;
                gap: 13px;
                padding-top: 20px;
                padding-bottom: 24px;

                @media(max-width: 768px) {
                   justify-content: space-evenly;
                  }
            }
        }
    }
}