.tabSection {
    padding-top: 45px;
    border-radius: 15px;

    .button {
        width: 100%;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 17px;
        gap: 8px;
    }

    .input {
        width: 100%;

        &Container {
            background-color: #1D2027;
            border-radius: 11px;
            padding: 10px;
            margin-bottom: 11px;
        }
    }

    &Navbar {
        display: flex;
        background-color: #1D2027;
        padding-top: 12px;
        padding-bottom: 12px;
        border-radius: 12px;
    }

    &Button {
        padding-left: 12px;
        svg {
            padding-right: 10px;
        }

        &Clicked {
            background-color: #1D2027;
            color: #5E6670;
            padding-left: 12px;
            svg {
                padding-right: 10px;
            }
        }

    }

    &Icon {
        padding-top: 30px;
        padding-bottom: 20px;
        display: flex;
        align-items: center;

        span {
            color: white;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            padding-left: 11px;
        }
    }

    &SelectedImage {

        &:hover {
            cursor: pointer;
            opacity: 0.6;
        }

        @media (max-width: 1280px) {
            margin-bottom: 15px;
        }
    }

    &Images {
        display: flex;
        justify-content: space-between;

        @media (max-width: 1280px) {
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-around;
        }

        @media(max-width: 768px) {
            gap: 0;
        }
    }
}